.main {
  padding: 16px;
  padding-left: 0px;
  margin-top: 50px;
}
#wrapper{
    display:-webkit-flex;
    -webkit-justify-content:center;

    display:flex;
    justify-content:center;

}
#c1, #c3 {
    width: 25%;
}
#c2 {
    width: 50%;
}