.cursorPointer
{
	cursor: pointer;
}
.topMargin
{
  margin-top: 10px;
}
.leftMargin
{
  margin-left: -40px;
  margin-top: 5px;
}
.paddingRight
{
  padding-right: 10px;
}
.paddingLeft
{
  padding-left: 10px;
}